
<!DOCTYPE html>
<html>
<head>
<style>

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html{
  height: 100%;
  background:radial-gradient( transparent, rgba(0, 40, 50, 1)), url('https://img.clipartfest.com/b829c50ea79d6b6a792258cdd067ae25_do-you-think-healthy-food-healthy-food-clipart_2000-1689.jpeg');
background-size: 70%;
}

nav ul{
  text-align:center;

}
nav ul li{
  display: inline-block;  
  
}

nav ul li a{
  font-family:"Open Sans";
  color: rgba(0, 35, 34, 0.6);
  font-size: 15px;
  text-transform:uppercase;
  text-decoration:none;
}
li a{
  background:rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0;1), inset  0 0 1px rgba(225, 255, 255, 0.8);
  width:120px;
  height:120px;
  line-height:115px;
  border-radius: 50%;
  display:block;
}

li a:hover{
  transition-duration: 300ms;

  background: rgba(0, 120, 140, 0.6);
}






</style>


</head>

<body>
<nav>
  <ul>
    <li><a href="#">Analytics</a></li>
    <li><a href="#">Shopping</a></li>
    <li><a href="#">Calculators</a></li>
    <li><a href="#">History</a></li>
    <li><a href="#">History</a></li>
  </ul>
</nav>

</body>




</html>