<!DOCTYPE html>
<html>
<body>
</br>
</br>
</br>
</br>
</br>
<center><h1><p>Transaction Completed</p><p><h3>Thankyou :) Visit Again<h3></p></h1></center>
<center><a href="http://localhost:3000/payments" class="btn btn-info" role="button">New Payment</a></center>
</body>
</html>